/* ฟอนต์ละมุนจาก Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;600;700&display=swap');

/* ฟอนต์หลักของแอป */
body {
    font-family: 'Kanit', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #333;
}

/* Optional: คลาสสำหรับเปลี่ยนฟอนต์เฉพาะจุด */
.font-kanit {
    font-family: 'Kanit', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-mali {
    font-family: 'Mali', cursive;
}

/* marquee animation */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
